@font-face {
    font-family:font; src: url('font.woff2') format('truetype');
}

* {
    margin: 0;
}

html {
    width: 100%;
    background-color: #010006;
    font-family: font;
    line-height: 1.5;
    font-weight: 300;
}

h1 {
    text-align: center;
    font-size: 35px;
}

p {
    text-align: left;
    font-size: 14px;
    color: #a3a3a3;
}

h2 {
    padding-bottom: 10px;
    font-size: 14px;
    color: #fafafa;
    font-weight: 300;
    padding-top: 50px;
    width: 100%;
}

span {
    color: #a3a3a3;
}

/* navbar */
.nav {
    position: fixed;
    min-height: 60px;
    padding-top: 35px;
    padding-right: calc(50vw - 250px);
    padding-left: 500px;
    right: 0;
    top: 0;
    background-color: #010006;
    z-index: 2;
    
}

.nav a {
    color: #cbcbcb;
    font-size: 13px;
    text-decoration: none;
    padding: 20px 20px 5px 20px;
    transition: color 0.3s ease;
}

.nav .active {
    color: #e7e7e7;
}

.nav a:hover {
    color: #e7e7e7;
}

.nav .icon {
    width: 50px;
    height: 50px;
    float: left;
    position: fixed;
    left: calc(50vw - 260px);
    top: 18px;
    z-index: 999;
}

.nav img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.nav .closed {
    display: none;
}

/* title */
.title {
    display: block;
    text-align: center;
    margin-top: 150px;
}

/* about me */
.about {
    width: 500px;
    display: block;
    position: relative;
    padding-left: calc(50vw - 250px);
    padding-bottom: 150px;
    padding-top: 20px;
}

.tech-container {
    display: block;
}

.tech {
    width:32%;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.about i {
    color: #a3a3a3;
    display: inline-block;
    font-size: 4px;
    padding-right: 10px;
}

.about li {
    color: #a3a3a3;
    line-height: 21px;
    font-size: 15px;
    list-style-type: none;
    position: relative;
    padding-left: 16px;
}

.socials i {
    font-size: 30px;
}

/* projects */
.projects {
    width: 500px;
    display: block;
    position: relative;
    padding-left: calc(50vw - 250px);
    padding-bottom: 150px;
    padding-top: 55px;
}

.projects .extra {
    padding-top: 50px;
}

.projects .extra p {
    text-align: center;
}

.project {
    width: 465px;
    display: block;
    border-radius: 5px;
    padding: 15px;
    transition: background-color 0.4s;
}

.project:hover {
    background-color: #171717;
}

.project .left {
    width: 90%;
    display: inline-block;
}

.project .right {
    width: 9%;
    display: inline-block;
    vertical-align: top;
}

.project i {
    color: #fafafa; 
    font-size: 25px; 
    float: right;
}

.project h2 {
    padding-top: 0px;
}

/* timeline */
.timeline {
    display: block;
    min-height: 20px;
}

.timeline .item {
    width: 100%;
    display: block;
    min-height: 40px;
    padding-bottom: 25px;
}

.timeline .item .time {
    width: 25%;
    color: #818180;
    display: inline-block;
}

.timeline .item .description {
    width: 73%;
    display: inline-block;
    vertical-align: top;
}

.timeline h2 {
    padding-top: 0;
    padding-bottom: 5px;
}

/* responsive */
@media only screen and (max-width: 1100px) {
    .nav .closed {
        display: inline-block;
    }

    .nav .open {
        display: none;
    }

    .nav .visible {
        display: inline-block;
        height: calc(100vh);
        width: 700px;
        position: fixed;
        left: calc(50vw - 350px);
        top: 0;
        background-color: #010006;
        z-index: -10;
        text-align: center;
        padding-top: calc(30vh);
    }

    .nav a {
        display: block;
    }
}

/* mobile support */
@media (pointer:none), (pointer:coarse) and (max-width: 1100px) {
    .about {
	width: calc(100vw - 60px);
        padding-left: 30px;
    }
    
    .projects {
	width: calc(100vw - 60px);
        padding-left: 30px;
    }

    /* font size */

    h1 {
        font-size: 70px;
    }

    p {
        font-size: 26px;
    }

    h2 {
        font-size: 26px;
    }

    .about i {
        font-size: 15px;
    }
    
    .about li {
        color: #a3a3a3;
        line-height: 21px;
        font-size: 26px;
        list-style-type: none;
        position: relative;
        padding-left: 16px;
    }
    
    .socials i {
        font-size: 70px;
    }

    .tech p {
        font-size: 30px;
    }

    /* navbar */
    .nav {
        min-height: 80px;
        padding-top: 40px;
        padding-right: 30px;
        padding-left: calc(100vw - 60px);
    }
    
    .nav a {
        font-size: 50px;
        padding: 20px 35px 5px 35px;
    }
    
    .nav .icon {
        width: 120px;
        height: 120px;
        float: left;
        position: fixed;
        left: 30px;
        top: 14px;
        z-index: 999;
    }

    .nav .i {
        font-size: 30px;
    }

    .nav .visible {
        width: calc(100vw - 50px) ;
        left: 25px;
    }

    /* timeline */
    .timeline .item .time {
        width: 20%;
        color: #818180;
        display: inline-block;
    }
    
    .timeline .item .description {
        width: 78%;
        display: inline-block;
        vertical-align: top;
    }

    /* projects */
    .project {
        width: calc(100vw - 100px);
    }
}