.home {
  margin-left: 30vw;
  margin-right: 30vw;
}

.home h2 {
  padding-bottom: 5px;
}

.center {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.about p {
  margin-bottom: 5px;
}

.socials {
  padding-top: 10px;
}

.socials a {
  color: #adadad;
  font-size: 20px;
  padding-right: 5px;
}

.home .redirect {
  padding-bottom: 10px;
}

@media screen and (max-width: 700px) {
  .home {
    margin-left: 12vw;
    margin-right: 12vw;
  }
}
