.home {
  margin-left: 30vw;
  margin-right: 30vw;
}

.home h2 {
  padding-bottom: 5px;
}

.sky {
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
  overflow: hidden;
}

.sky img {
  display: block;
  margin: 0 auto;
  width: 649px;

  height: 150px;
}

.home .link {
  display: inline-block;
  color: #d2d2d2;
}

.home .link:after {
  display: block;
  content: "";
  border-bottom: solid 0.5px #d2d2d2;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.home .link:hover:after {
  transform: scaleX(1);
}

.about p {
  margin-bottom: 5px;
}

.socials {
  padding-top: 10px;
}

.socials a {
  color: #adadad;
  font-size: 20px;
  padding-right: 5px;
  transition: color 275ms ease-in-out;
}

.socials a:hover {
  color: #d2d2d2;
}

.home .redirect {
  padding-bottom: 10px;
}

@media screen and (max-width: 700px) {
  .home {
    margin-left: 12vw;
    margin-right: 12vw;
  }

  .sky img {
    margin-left: -15vw;
    width: 130vw;
    height: auto;
  }
}

@media (pointer: none), (pointer: coarse) and (max-width: 1100px) {
  .home {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
