nav {
  padding-top: 20px;
  margin-left: 30vw;
  margin-right: 30vw;
  z-index: 3;
}

.wider {
  margin-left: calc(50% - 300px);
  margin-right: calc(50% - 300px);
}

nav a {
  position: relative;
  font-family: "Spectral";
  font-weight: 200;
  color: #cbcbcb;
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
}

nav .right a:after {
  display: block;
  content: "";
  border-bottom: solid 0.5px #cbcbcb;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

nav .right a:hover:after,
nav .right a.active:after {
  transform: scaleX(1);
}

.bars {
  color: #adadad;
  font-size: 12px;
}

.left {
  position: relative;
  display: inline-block;
  z-index: 9999;
}

.left a {
  color: #adadad;
}

.right {
  float: right;
}

.right a {
  padding-left: 15px;
}

.closed {
  position: relative;
  display: none;
}

@media screen and (max-width: 700px) {
  nav {
    margin-left: 12vw;
    margin-right: 12vw;
  }

  nav .visible a {
    padding: 5px;
  }

  nav .open {
    display: none;
  }

  nav .visible {
    display: flex;
    flex-direction: column;
    height: 200vh;
    width: 700px;
    position: fixed;
    left: calc(50vw - 350px);
    top: 0;
    background-color: #07040c;
    z-index: 1;
    text-align: center;
    padding-top: calc(30vh);
  }

  nav .right a {
    margin-left: 46%;
    margin-right: 46%;
  }

  nav .closed {
    display: inline-block;
    z-index: 99999;
  }

  .wider {
    margin-left: 7vw;
    margin-right: 7vw;
  }
}

@media (pointer: none), (pointer: coarse) and (max-width: 1100px) {
  nav,
  .wider {
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 15px;
  }

  .bars {
    font-size: 15px;
  }
}
