nav {
  padding-top: 20px;
  margin-left: 30vw;
  margin-right: 30vw;
}

a {
  font-family: "Spectral";
  font-weight: 200;
  color: #cbcbcb;
  font-size: 12px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.left {
  display: inline-block;
}

.right {
  float: right;
}

.right a {
  padding-left: 15px;
}

@media screen and (max-width: 700px) {
  nav {
    margin-left: 12vw;
    margin-right: 12vw;
  }
}
