.projects-full {
  margin-left: 30%;
  margin-right: 30%;
}

.projects-full h1 {
  padding-top: 70px;
}

.projects-full .intro {
  padding-top: 5px;
  padding-bottom: 10px;
}

@media screen and (max-width: 700px) {
  .projects-full {
    margin-left: 12vw;
    margin-right: 12vw;
  }
}

@media (pointer: none), (pointer: coarse) and (max-width: 1100px) {
  .projects-full {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
