.project {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 275ms ease-in-out;
}

.project:hover {
  background-color: #171717;
}

.project h3 {
  display: inline-block;
}

.project .image {
  width: 48%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.project .description {
  width: 43%;
  display: inline-block;
  padding-top: 30px;
  padding-left: 5%;
  vertical-align: top;
}

.project .title {
  display: flex;
}

.project a {
  display: inline-block;
  padding-left: 5px;
  color: #f9f9f9;
}

.project .tech {
  color: #6c6c6c;
}

@media screen and (max-width: 700px) {
  .project {
    display: flex;
    flex-direction: column;
  }

  .project .image {
    width: 60%;
  }

  .image {
    margin: 0 auto;
    padding: 10px;
  }

  .project .title {
    margin: 0 auto;
  }

  .project .description {
    width: 60vw;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
