.project {
  box-sizing: border-box;
  width: 100%;
  display: block;
  margin-bottom: 35px;
  display: flex; 
  align-items: center;
}

.project h3 {
  display: inline-block;
}

.project .image {
  width: 48%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project .description {
  width: 43%;
  padding-left: 5%;
}

.project .title {
  display: flex;
}

.project a {
  display: inline-block;
  padding-left: 5px;
  color: #1b1717;
}

.project .tech {
  color: #6c6c6c;
}

@media screen and (max-width: 700px) {
  .project {
    display: flex;
    flex-direction: column;
  }

  .project .image {
    width: 100%;
    margin-bottom: 15px;
  }

  .project .title {
    margin: 0 auto;
  }

  .project .description {
    width: 80%;
    padding-left: 0%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}