.item {
  width: 100%;
  display: block;
  padding-bottom: 0px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  border-radius: 5px;
}

.item .time p {
  color: #6c6c6c;
}

.item .title {
  display: flex;
  flex-wrap: wrap;  
  align-items: center; 
}

.item .title h3 {
  display: inline;  
  margin: 0;  
}

.item .title a {
  display: inline-flex;
  align-items: center;
  padding: 0;    
  padding-left: 8px;  
}

.item .time {
  width: 15%;
  color: #818180;
  display: inline-block;
}

.item .description {
  width: 83%;
  padding-left: 2%;
  display: inline-block;
  vertical-align: top;
}

.item .extra {
  color: #6c6c6c;
}

@media (max-width: 700px) {
  .experience .item .title a {
    display: none;
  }
}